/* imports */
@import "/css/main.css";
@font-face {
    font-family: 'Archivo';
    src: url(/assets/fonts/archivo/Archivo-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    font-size: 62.5%;
}


/* ------------------------- section1, masthead here --------------------------- */
/* Main Container */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Content Container */
.content-container {
    width: 85%;
    display: flex;
    flex-direction: column;
}

/* Section1 background image */
.sec1-img {
    width: 100%;
    background-image: url(/assets/images/home/seo3-sec1-img.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* Section1 masthead style */
.masthead {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}

/* Creating a white space around masthead texts */
.space-around {
    padding: 4px 0;
}

/* Welcome to beseo label style */
.masthead__label {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0px 2px;
    text-align: center;
    font-weight: 700;
    font-size: 0.2rem;
    line-height: 4px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 15px;
    border-color: rgba(255, 0, 0, 0);
    color: var(--color-body-caption);
    background-color: var(--color-body-caption-bg);
}

/* Masthead main text style */
.masthead__title {
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
    transform-origin: 50% 50% 0px;
    transform: translate3d(0px, 0px, 0px);
}

/* Masthead description text style */
.masthead__desc {
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    font-size: 0.4rem;
    line-height: 6px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
}

/* Other pages links here */
.masthead__links {
    display: flex;
    gap: 10px;
}

/* Masthead 'a' tag styles */
.link {
    padding: 0px 8px;
    text-align: center;
    font-weight: 500;
    font-size: 0.4rem;
    line-height: 8px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 30px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    color: var(--color-white);
    background-color: var(--color-btn);
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

/* link modifier */
.link--secondary {
    background-color: var(--color-light-btn);
    opacity: 0.7;
}

/* Change link opacity on hover */
.masthead__links a:hover {
    opacity: 1;
}

/* ------------------------- section2, features here --------------------------- */
/* section2 background image */
.sec2-img {
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/backgrounds/seo3-bg1.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* section2 features */
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

/* feature label */
.feat__label {
    display: inline-block;
    margin-bottom: 30px;
    padding: 2px 16px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 15px;
    border-color: rgba(255, 0, 0, 0);
    color: var(--color-body-caption);
    background-color: var(--color-body-caption-bg);
}

/* makes feature title responsive */
.title--wrapper {
    width: 75%;
}

/* makes texts responsive */
.txt--wrapper {
    width: 80%;
}

/* feature title */
.feat__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* feature description */
.feat__desc {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
}

/* core features named items */
.feat__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* a general class for three features named items */
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* feature image */
.item__img {
    margin: 20px 0;
}

/* feature image styles */
.img--wrapper {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

/* feature's title */
.item__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* feature's description */
.item__desc {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
}


/* --------------- section3, our clients here ------------------- */
/* clients container */
.our-clients {
    padding: 110px 33px 0;
    background-image: url(/assets/images/backgrounds/seo3-bg5.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* "our clients" content wrapper */
.client__wrapper {
    width: 100% !important;
}

/* "our clients" title container */
.client__caption {
    margin-top: 50px;
}

/* "our clients" title */
.caption__text {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* makes white-space between "our clients" title and logos */
.white-space {
    width: 100%;
    margin: 0 auto 10px auto;
}

/* clients logo */
.logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* makes logos wrap in row flex */
.logo__wrapper {
    width: 50%;
}

/* logo container */
.logo__frame {
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0,0,0,.01);
    text-align: center;
    line-height: 0;
    height: 75px;
    line-height: 75px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.logo__frame:hover {
    background: rgba(0,0,0,.05);
}

/* places logos in the center */
.logo__size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* logos size */
.logo__img {
    width: 145px;
    height: 75px;
}

/* makes logos responsive */
.logo__img--scale {
    max-width: 100%;
    height: auto;
}

/* Media Queries Here */
@media (min-width: 360px) {
    /* section1 media query changes */
    .masthead__label {
        padding: 0px 4px;
        font-size: 0.4rem;
        line-height: 6px;
    }

    .masthead__title {
        font-size: 1.4rem;
        line-height: 14px;
    }

    .masthead__desc {
        font-size: 0.4rem;
        line-height: 8px;
    }

    .link {
        padding: 0px 10px;
        font-size: 0.6rem;
        line-height: 12px;
    }
}

@media (min-width: 480px) { 
    /* section1 media query changes */
    .space-around {
        padding: 6px 0;
    }

    .masthead__label {
        padding: 0px 6px;
        font-size: 0.6rem;
        line-height: 10px;
    }

    .masthead__title {
        font-size: 2rem;
        line-height: 20px;
    }

    .masthead__desc {
        font-size: 0.5rem;
        line-height: 10px;
    }

    .link {
        padding: 0px 12px;
        font-size: 0.8rem;
        line-height: 16px;
    }

    /* section2 media query changes */
    .feat__title {
        font-size: 4.0rem;
        line-height: 40px;
    }

    .feat__desc {
        line-height: 24px;
    }

    .item__title {
        font-size: 1.8rem;
        line-height: 26px;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.2rem;
        line-height: 42px;
    }
}

@media (min-width: 600px) {
    /* section1 media query changes */
    .space-around {
        padding: 8px 0;
    }

    .masthead__label {
        padding: 0px 8px;
        font-size: 0.8rem;
        line-height: 12px;
    }

    .masthead__title {
        font-size: 2.4rem;
        line-height: 24px;
    }

    .masthead__desc {
        font-size: 0.6rem;
        line-height: 10px;
    }

    .link {
        padding: 0px 14px;
        font-size: 0.8rem;
        line-height: 20px;
    }

    /* section2 media query changes */
    .feat__title {
        font-size: 4.0rem;
        line-height: 40px;
    }

    .feat__desc {
        line-height: 24px;
    }

    .item__title {
        font-size: 1.8rem;
        line-height: 26px;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.2rem;
        line-height: 42px;
    }
}

@media (min-width: 768px) {
    /* section1 media query changes */
    .space-around {
        padding: 10px 0;
    }

    .masthead__label {
        padding: 0px 8px;
        font-size: 1rem;
        line-height: 14px;
    }

    .masthead__title {
        font-size: 3rem;
        line-height: 30px;
    }

    .masthead__desc {
        font-size: 0.8rem;
        line-height: 12px;
    }

    .link {
        padding: 0px 16px;
        font-size: 1rem;
        line-height: 24px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 22px;
    }

    .feat__title {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .feat__desc {
        font-size: 1.6rem;
        line-height: 26px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2rem;
        line-height: 28px;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}

@media (min-width: 900px) {
    /* section1 media query changes */
    .space-around {
        padding: 12px 0;
    }

    .masthead__label {
        padding: 0px 10px;
        font-size: 1rem;
        line-height: 16px;
    }

    .masthead__title {
        font-size: 3.6rem;
        line-height: 36px;
    }

    .masthead__desc {
        font-size: 1rem;
        line-height: 16px;
    }

    .link {
        padding: 0px 18px;
        font-size: 1.2rem;
        line-height: 28px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 22px;
    }

    .feat__title {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .feat__desc {
        font-size: 1.6rem;
        line-height: 26px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2rem;
        line-height: 28px;
    }

    .item__desc {
        line-height: 24px;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    /* section1 media query changes */
    .space-around {
        padding: 14px 0;
    }

    .masthead__label {
        padding: 0px 12px;
        font-size: 1.2rem;
        line-height: 18px;
    }

    .masthead__title {
        font-size: 4.2rem;
        line-height: 42px;
    }

    .masthead__desc {
        font-size: 1.2rem;
        line-height: 18px;
    }

    .link {
        padding: 0px 20px;
        font-size: 1.4rem;
        line-height: 32px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 26px;
    }

    .feat__title {
        font-size: 5.4rem;
        line-height: 54px;
    }

    .feat__desc {
        font-size: 1.8rem;
        line-height: 30px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2.4rem;
        line-height: 34px;
    }

    .item__desc {
        font-size: 1.6rem;
        line-height: 28px;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 5.4rem;
        line-height: 54px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}