/* imports */
@import "../css/main.css";
@import "../css/header.css";
@import "../css/footer.css";
@font-face {
    font-family: 'Archivo';
    src: url(/assets/fonts/archivo/Archivo-VariableFont_wdth\,wght.ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    font-size: 62.5%;
}


/* ------------------------- section1, masthead here --------------------------- */
/* Main Container */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Content Container */
.content-container {
    width: 85%;
    display: flex;
    flex-direction: column;
}

/* Section1 background image */
.sec1-img {
    width: 100%;
    background-image: url(../assets/images/home/seo3-sec1-img.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* Section1 masthead style */
.masthead {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}

/* Creating a white space around masthead texts */
.space-around {
    padding: 4px 0;
}

/* Welcome to beseo label style */
.masthead__label {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0px 2px;
    text-align: center;
    font-weight: 700;
    font-size: 0.2rem;
    line-height: 4px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 15px;
    border-color: rgba(255, 0, 0, 0);
    color: var(--color-body-caption);
    background-color: var(--color-body-caption-bg);
}

/* Masthead main text style */
.masthead__title {
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 12px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
    transform-origin: 50% 50% 0px;
    transform: translate3d(0px, 0px, 0px);
}

/* Masthead description text style */
.masthead__desc {
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    font-size: 0.4rem;
    line-height: 6px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
}

/* Other pages links here */
.masthead__links {
    display: flex;
    gap: 10px;
}

/* Masthead 'a' tag styles */
.link {
    padding: 0px 8px;
    text-align: center;
    font-weight: 500;
    font-size: 0.4rem;
    line-height: 8px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 30px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    color: var(--color-white);
    background-color: var(--color-btn);
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

/* link modifier */
.link--secondary {
    background-color: var(--color-light-btn);
    opacity: 0.7;
}

/* Change link opacity on hover */
.masthead__links a:hover {
    opacity: 1;
}

/* ------------------------- section2, features here --------------------------- */
/* section2 background image */
.sec2-img {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/backgrounds/seo3-bg1.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* section2 features */
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

/* feature label */
.feat__label {
    display: inline-block;
    margin-bottom: 30px;
    padding: 2px 16px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 15px;
    border-color: rgba(255, 0, 0, 0);
    color: var(--color-body-caption);
    background-color: var(--color-body-caption-bg);
}

/* makes feature title responsive */
.title--wrapper {
    width: 75%;
}

/* makes texts responsive */
.txt--wrapper {
    width: 80%;
}

/* feature title */
.feat__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* feature description */
.feat__desc {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
}

/* core features named items */
.feat__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* a general class for three features named items */
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* feature image */
.item__img {
    margin: 20px 0;
}

/* feature image styles */
.img--wrapper {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

/* feature's title */
.item__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* feature's description */
.item__desc {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-body);
}

/* --------------- section4, data card here ------------------- */
/* card container */
.data-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-card-data);
    box-shadow: var(--color-card-box-shadow);
    border-radius: 25px;
    padding: 40px 40px 0;
}

/* wraps number and text in itself */
.data-chart {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* places data div in the center of data-chart div */
.data-align {
    width: 100%;
    text-align: center;
}

/* contains number and text in itself */
.data {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* wraps number div to align it correctly */
.num-wrapper {
    font-size: 6rem;
    line-height: 60px;
}

/* data card's number */
.data__num {
    font-size: 6rem;
    font-weight: 400;
    line-height: 60px;
    color: var(--color-white);
}

/* data card's text */
.data__text {
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-body-caption);
}

/*------------- options section --------------- */
.options{
    display: flex;
    flex-direction: column;
}
.options__wrapper{
    width: 100%;
    padding: 10px 0; 
}

.options__icon{
    display: flex;
    flex-direction: column;
    padding: 50px 40px 25px;
    box-shadow:var(--color-card-services-box-shadow);
    border-radius: 25px;
    background-color: #fff;
}
.icon__image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.icon__description{
    margin-left: 16px;
}
.icon__description h4{
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--color-headings);
    font-weight: 700;
}

.icon__description p{
    font-size: 1.3rem;
    line-height: 1.9;
    margin-bottom: 15px;
    color: var(--color-body);
}

.more-services {
    margin: 60px auto;
}

.services__btn {
    width: 140px;
    height: 42px;
    padding: 16px 35px;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 8px;
    letter-spacing: 0px;
    text-decoration: none;
    border-style: none;
    border-radius: 50px;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    color: var(--color-white);
    background-color: var(--color-btn);
    filter: blur(0px) grayscale(0%) brightness(100%);
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

.services__btn:hover {
    opacity: 1;
}

/* ------------------------  OUR WORK STARTS  ------------------------ */
.ourWork {
    padding-top: 100px;
    background: url(../assets/images/backgrounds/seo3-bg4.png);
    background-position: center;
    padding-top: 150px;
  }
  .ourWork_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .ourWork_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
  }
.ourWork_badge {
  color: var(--color-body-caption);
  background-color: var( --color-body-caption-bg);
  border-radius: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  align-self: flex-start;
  padding: 8px 16px;
}
  

  .ourWork_title {
    width: 100%;
  }
  .ourWork_title--text {
    width: 90%;
    color: var(--color-card-data);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
  }
  .ourWork_subtitle--text {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-body);
  }
  .ourWork_specification {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  .ourWork_specification--item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .ourWork .item_title--text {
    color: var(--color-headings);
    font-size: 1.3rem;
    font-weight: 700;
    
  }
  .bottom{
    width: 90%;
  }
  .ourWork_about {
    width: 128px;
    height: 44px;
    align-self: flex-start;
    border-radius: 50px;
    overflow: hidden;
  }
  .ourWork_about--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-btn);
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    opacity: 0.9;
    transition: .3s ;
  }
  
  .ourWork_about--btn:hover{
    opacity: 1;
  }
  .ourWork_bg{
    width: 100%;
  }
  .ourWork_bg--image {
    width: 100%;
    object-fit: cover;
  }

/* --------------- section3, our clients here ------------------- */
/* clients container */
.our-clients {
    padding: 110px 33px 0;
    background-image: url(../assets/images/backgrounds/seo3-bg5.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* "our clients" content wrapper */
.client__wrapper {
    width: 100% !important;
}

/* "our clients" title container */
.client__caption {
    margin-top: 50px;
}

/* "our clients" title */
.caption__text {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--color-headings);
}

/* makes white-space between "our clients" title and logos */
.white-space {
    width: 100%;
    margin: 0 auto 10px auto;
}

/* clients logo */
.logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* makes logos wrap in row flex */
.logo__wrapper {
    width: 50%;
}

/* logo container */
.logo__frame {
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0,0,0,.01);
    text-align: center;
    line-height: 0;
    height: 75px;
    line-height: 75px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.logo__frame:hover {
    background: rgba(0,0,0,.05);
}

/* places logos in the center */
.logo__size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* logos size */
.logo__img {
    width: 145px;
    height: 75px;
}

/* makes logos responsive */
.logo__img--scale {
    max-width: 100%;
    height: auto;
}

/* Media Queries Here */
@media (min-width: 360px) {
    /* section1 media query changes */
    .masthead__label {
        padding: 0px 4px;
        font-size: 0.4rem;
        line-height: 6px;
    }

    .masthead__title {
        font-size: 1.4rem;
        line-height: 14px;
    }

    .masthead__desc {
        font-size: 0.4rem;
        line-height: 8px;
    }

    .link {
        padding: 0px 10px;
        font-size: 0.6rem;
        line-height: 12px;
    }
}

@media (min-width: 480px) { 
    /* section1 media query changes */
    .space-around {
        padding: 6px 0;
    }

    .masthead__label {
        padding: 0px 6px;
        font-size: 0.6rem;
        line-height: 10px;
    }

    .masthead__title {
        font-size: 2rem;
        line-height: 20px;
    }

    .masthead__desc {
        font-size: 0.5rem;
        line-height: 10px;
    }

    .link {
        padding: 0px 12px;
        font-size: 0.8rem;
        line-height: 16px;
    }

    /* section2 media query changes */
    .feat__title {
        font-size: 4.0rem;
        line-height: 40px;
    }

    .feat__desc {
        line-height: 24px;
    }

    .item__title {
        font-size: 1.8rem;
        line-height: 26px;
    }

    /* options section */
    .options__wrapper{
        padding: 10px;
    }
    
    .options{
        display: flex;
        gap: 0px;
    }
  
    .icon__description{
        margin-left: 40px;
    }
    .icon__description h4{
        font-size: 1.8rem;
    }

    /* our work section */
    .ourWork_title--text {
        font-size: 4.1rem;
        width: 80%;
    }
      .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 95%;
        line-height: 1.6;
    }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.2rem;
        line-height: 42px;
    }
}

@media (min-width: 600px) {
    /* section1 media query changes */
    .space-around {
        padding: 8px 0;
    }

    .masthead__label {
        padding: 0px 8px;
        font-size: 0.8rem;
        line-height: 12px;
    }

    .masthead__title {
        font-size: 2.4rem;
        line-height: 24px;
    }

    .masthead__desc {
        font-size: 0.6rem;
        line-height: 10px;
    }

    .link {
        padding: 0px 14px;
        font-size: 0.8rem;
        line-height: 20px;
    }

    /* section2 media query changes */
    .feat__title {
        font-size: 4.0rem;
        line-height: 40px;
    }

    .feat__desc {
        line-height: 24px;
    }

    .item__title {
        font-size: 1.8rem;
        line-height: 26px;
    }

    /* our work section */
    .ourWork_title--text {
        font-size: 4.1rem;
        width: 90%;
      }
    .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 90%;
        line-height: 1.6;
      }
    
      .item_title .item_title--text{
        font-size:1.4rem;
        width: 100%;
      }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.2rem;
        line-height: 42px;
    }
}

@media (min-width: 768px) {
    /* section1 media query changes */
    .space-around {
        padding: 10px 0;
    }

    .masthead__label {
        padding: 0px 8px;
        font-size: 1rem;
        line-height: 14px;
    }

    .masthead__title {
        font-size: 3rem;
        line-height: 30px;
    }

    .masthead__desc {
        font-size: 0.8rem;
        line-height: 12px;
    }

    .link {
        padding: 0px 16px;
        font-size: 1rem;
        line-height: 24px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 22px;
    }

    .feat__title {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .feat__desc {
        font-size: 1.6rem;
        line-height: 26px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2rem;
        line-height: 28px;
    }

    /* section4 media query changes */
    .data-card {
        flex-direction: row;
    }

    .data-chart {
        flex-direction: row;
    }

    .data__num {
        font-size: 8rem;
        line-height: 80px;
    }

    /* option section */
    .options__icon{
        display: flex;
        flex-direction: row;
        padding: 50px 40px 25px;
        box-shadow: 0px 10px 30px rgba(55,43,125,.1);
        border-radius: 25px;
        justify-content: center;
    }
    .options{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .options__wrapper{
        width: 50%;
    }
    .icon__image{
        width: 40%;
        height:100%;

    }
    .icon__description h4{
        font-size: 2rem;
        font-weight: 700;

    }
    .icon__description{
        margin-left: 40px;
    }
    .icon__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon__description{
        padding: none;
        margin-left:20px;
        margin-bottom: 10px;
        max-width: 68%;
       
    }
    .icon__description p{
        font-size: 1.4rem;
        line-height: 1.8;
        
    }

    /* our work section */
    .ourWork_wrapper {
        flex-direction: row;
        align-items: flex-start;
      }
      .ourWork_details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        width: 90%;
        
      }
      .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 95%;
        line-height: 1.6;
      }
    
      .item_title .item_title--text{
        font-size:1.6rem;
        
      }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}

@media (min-width: 900px) {
    /* section1 media query changes */
    .space-around {
        padding: 12px 0;
    }

    .masthead__label {
        padding: 0px 10px;
        font-size: 1rem;
        line-height: 16px;
    }

    .masthead__title {
        font-size: 3.6rem;
        line-height: 36px;
    }

    .masthead__desc {
        font-size: 1rem;
        line-height: 16px;
    }

    .link {
        padding: 0px 18px;
        font-size: 1.2rem;
        line-height: 28px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 22px;
    }

    .feat__title {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .feat__desc {
        font-size: 1.6rem;
        line-height: 26px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2rem;
        line-height: 28px;
    }

    .item__desc {
        line-height: 24px;
    }

    /* section4 media query changes */
    .data-card {
        flex-direction: row;
    }

    .data-chart {
        flex-direction: row;
    }

    .data__num {
        font-size: 8rem;
        line-height: 80px;
    }

    /* caption section */
    .options__icon{
        display: flex;
        flex-direction: row;
        padding: 50px 40px 25px;
        box-shadow: 0px 10px 30px rgba(55,43,125,.1);
        border-radius: 25px;
        justify-content: center;
    }
    .options{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .options__wrapper{
        width: 50%;
    }
    .icon__image{
        width: 40%;
        height:100%;

    }
    .icon__description h4{
        font-size: 2rem;
        font-weight: 700;

    }
    .icon__description{
        margin-left: 40px;
    }
    .icon__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon__description{
        padding: none;
        margin-left:20px;
        margin-bottom: 10px;
        max-width: 68%;
       
    }
    .icon__description p{
        font-size: 1.4rem;
        line-height: 1.8;
        
    }

    /* our work section */
    .ourWork_badge {
        padding: 8px 20px;
        font-size: 1.4rem;
      }
      .ourWork_title--text {
          font-size: 4.6rem;
        }
        .ourWork_subtitle--text{
          font-size: 1.4rem;
          line-height: 1.6;
        }
      
        .item_title .item_title--text{
          font-size:1.5rem;
          width: 100%;
        }
        .ourWork_about--btn{
          font-size: 1.4rem;
        }

    /* section3 media query changes */
    .caption__text {
        font-size: 4.6rem;
        line-height: 46px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    /* section1 media query changes */
    .space-around {
        padding: 14px 0;
    }

    .masthead__label {
        padding: 0px 12px;
        font-size: 1.2rem;
        line-height: 18px;
    }

    .masthead__title {
        font-size: 4.2rem;
        line-height: 42px;
    }

    .masthead__desc {
        font-size: 1.2rem;
        line-height: 18px;
    }

    .link {
        padding: 0px 20px;
        font-size: 1.4rem;
        line-height: 32px;
    }

    /* section2 media query changes */
    .feat__label {
        line-height: 26px;
    }

    .feat__title {
        font-size: 5.4rem;
        line-height: 54px;
    }

    .feat__desc {
        font-size: 1.8rem;
        line-height: 30px;
    }

    .feat__items {
        display: flex;
        flex-direction: row;
    }

    .item__title {
        font-size: 2.4rem;
        line-height: 34px;
    }

    .item__desc {
        font-size: 1.6rem;
        line-height: 28px;
    }

    /* section4 media query changes */
    .data-card {
        flex-direction: row;
    }

    .data-chart {
        flex-direction: row;
    }

    .data__num {
        font-size: 6rem;
        line-height: 60px;
    }

    /* option section */
    .options__icon{
        display: flex;
        flex-direction: row;
        padding: 50px 40px 25px;
        box-shadow: 0px 10px 30px rgba(55,43,125,.1);
        border-radius: 25px;
        justify-content: center;
    }
    .options{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .options__wrapper{
        width: 50%;
    }
    .icon__image{
        width: 24%;
        height:100%;

    }
    .icon__description h4{
        font-size: 2rem;

    }
    .icon__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon__description h4{
     padding-right: 10px;
       
    }
    .icon__description p{
        font-size: 1.4rem;
        line-height: 2;
    }

    /* our work section */
    .ourWork_title--text {
        font-size: 5.4rem;
        width: 90%;
      }
      .ourWork_subtitle--text{
        font-size: 1.6rem;
        line-height: 1.6;
      }
      .item_title .item_title--text{
        font-size:1.8rem;
        width: 100%;
      }
      .ourWork_about--btn{
        font-size: 1.6rem;
      }

    /* section3 media query changes */
    .caption__text {
        font-size: 5.4rem;
        line-height: 54px;
    }

    .logo {
        flex-wrap: wrap;
    }

    .logo__wrapper {
        width: 20%;
    }
}