
@import"main.css";


@font-face {
    font-family:"archivo";
    src: url("../assets/fonts/archivo/Archivo-VariableFont_wdth\,wght.ttf");
}

/* Reset */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
} */

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
html{
    font-size: 62.5%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo" , sans-serif;
}

/* Root Variables */
/* :root {
    --color-body: rgb(34, 34, 40);
    --color-headings: rgb(71, 50, 136);
    --color-navbar: rgba(140, 130, 115, 0.03);
    --color-navbar-bg: rgb(30, 32, 33);
    --color-navbar-items: rgb(121, 100, 239);
    --color-menu-toggle: rgb(252, 176, 37);
    --color-label-bg: rgba(252, 168, 15, 0.13);
    --color-label: rgb(252, 168, 15);
    --color-card-data: rgb(55, 43, 125);
    --card-box-shadow: rgba(44, 34, 100, 0.2) 0px 10px 30px;
    --color-btn: rgb(123, 102, 239);
    --color-light-btn: rgb(197, 196, 252);
    --color-btn-hover: rgba(255, 0, 0, 0.05);
    --color-white: #fff;
    --color-black: #000;
    --color-badge:#FCF3DE;
} */

/*------------------> services section <--------------------*/


.services-section{
    background-image:url(../assets/images/backgrounds/seo3-sectionbg8.png);
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 120px;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}
.services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__description{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right:20px ;
   
}

.description__title h1{
    font-size: 4.2rem;
    font-weight: 700;
    line-height:4.2rem;
    color: var(--color-headings);
    margin-bottom: 15px;
    margin-top: 32px;
}
.description__badge p{
    display: inline-block;
    font-size: 1.3rem;
    font-weight:700;
    text-transform: uppercase;
    padding: 8px 16px;
    margin-bottom: 15px;
    background-color: var( --color-body-caption-bg);
    color:var(--color-body-caption);
    border-radius: 15px;
}

.services__image{
    width: 100%;
    height:auto;


}
.services__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------> FAQ section <------------------ */
.faq-section{
    padding-top: 80px;
}

.faq{
    display: flex;
    flex-direction: column;
}
.faq__title h2{
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 700;
    color: var(--color-headings);
    margin-bottom: 40px;
}

.faq__description p{
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 32px;
    color: var(--color-body);
}
.faq__btn{
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
}
.faq__btn a{
    display: inline-block;
    padding: 16px 36px;
    background-color: var(--color-btn);
    border-radius: 32px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    transition: .3s ease;
    opacity: .9;
}
.faq__btn a:hover{
    opacity: 1;
}

/*-------------> Options section<--------------- */

.options-section{
    padding-top: 60px;  
    background-image: url(../assets/images/backgrounds/seo3-bg3.png); 
    background-position: center top;
    background-repeat: no-repeat;
}
.options{
    display: flex;
    flex-direction: column;
}
.options__wrapper{
    width: 100%;
    padding: 10px 0; 
}

.options__icon{
    display: flex;
    flex-direction: column;
    padding: 50px 40px 25px;
    box-shadow:var(--color-card-services-box-shadow);
    border-radius: 25px;
    background-color: #fff;
}
.icon__image{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.icon__description{
    margin-left: 16px;
}
.icon__description h4{
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--color-headings);
    font-weight: 700;
}

.icon__description p{
    font-size: 1.3rem;
    line-height: 1.9;
    margin-bottom: 15px;
    color: var(--color-body);

}

/* ------------------------  OUR WORK STARTS  ------------------------ */



.ourWork {
    padding-top: 100px;
    background: url(../assets/images/backgrounds/seo3-bg4.png);
    background-position: center;
    padding-top: 150px;
  }
  .ourWork_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .ourWork_details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    
  }
.ourWork_badge {
  color: var(--color-body-caption);
  background-color: var( --color-body-caption-bg);
  border-radius: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  align-self: flex-start;
  padding: 8px 16px;
}
  

  .ourWork_title {
    width: 100%;
  }
  .ourWork_title--text {
    width: 90%;
    color: var(--color-card-data);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
  }
  .ourWork_subtitle--text {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-body);
  }
  .ourWork_specification {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  .ourWork_specification--item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .ourWork .item_title--text {
    color: var(--color-headings);
    font-size: 1.3rem;
    font-weight: 700;
    
  }
  .bottom{
    width: 90%;
  }
  .ourWork_about {
    width: 128px;
    height: 44px;
    align-self: flex-start;
    border-radius: 50px;
    overflow: hidden;
  }
  .ourWork_about--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-btn);
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    opacity: 0.9;
    transition: .3s ;
  }
  
  .ourWork_about--btn:hover{
    opacity: 1;
  }
  .ourWork_bg{
    width: 100%;
  }
  .ourWork_bg--image {
    width: 100%;
    object-fit: cover;
  }

/*------------------------> media query<----------------------- */


/* -----------------------480-------------------------- */

@media (min-width: 480px) {
    .container{
        width: 90%;
    }
    .description__title h1{
        font-size: 5.3rem;
        font-weight:700;
        line-height:5.3rem;
        margin-bottom: 15px;
        
    }
    .services__description{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
    }
    .services__image{
        max-width: 100%;
        height:auto;
    }
    .services__image img{
        width: 100%;
        object-fit: contain;
    }
    .faq__title h2{
        font-size: 4.1rem;
        line-height: 4.1rem;
    }
    .faq__description p{
        font-size: 1.3rem;
        line-height:1.5;
        width: 95%;
        
    }
    .faq__btn a{
        font-size: 1.4rem;
        font-weight: 400;
    }
    .options__wrapper{
        padding: 10px;
    }
    
    .options{
        display: flex;
        gap: 0px;
    }
  
    .icon__description{
        margin-left: 40px;
    }
    .icon__description h4{
        font-size: 1.8rem;
    }
    .ourWork_title--text {
        font-size: 4.1rem;
        width: 80%;
      }
      .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 95%;
        line-height: 1.6;
      }
}

/* ---------------->600<------------- */


@media (min-width:600px) {
    .container{
        width: 80%;
    }
    .description__title h1{
        font-size: 5.3rem;   
    }
    .icon__image{
        display: flex;
        padding-bottom: 36px;
    }
    .faq__description p{
        width: 100%;
    }
    .ourWork_title--text {
        font-size: 4.1rem;
        width: 90%;
      }
    .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 90%;
        line-height: 1.6;
      }
    
      .item_title .item_title--text{
        font-size:1.4rem;
        width: 100%;
      }
   
 

}

/* -----------------------786----------------- */
@media (min-width:768px) {
    .container{
        width: 90%;
    }
    .services{
        flex-direction: row;
        justify-content: space-between;
    }
  
    .description__title h1{
        font-size:6rem;
        line-height: 6rem;   
    }
    .faq__description{
        display: flex;
        
    }
    .faq__title h2{
        font-size: 4.6rem;
        line-height: 4.6rem;
    }
    .faq__description p{
        font-size: 1.4rem;
        line-height:1.5;
        width: 80%;
        
    }
    .faq__btn{
        width: 40%;
        text-align: right;
        margin-bottom: 15px;
    }
    .options__icon{
        display: flex;
        flex-direction: row;
        padding: 50px 40px 25px;
        box-shadow: 0px 10px 30px rgba(55,43,125,.1);
        border-radius: 25px;
        justify-content: center;
    }
    .options{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .options__wrapper{
        width: 50%;
    }
    .icon__image{
        width: 40%;
        height:100%;

    }
    .icon__description h4{
        font-size: 2rem;
        font-weight: 700;

    }
    .icon__description{
        margin-left: 40px;
    }
    .icon__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon__description{
        padding: none;
        margin-left:20px;
        margin-bottom: 10px;
        max-width: 68%;
       
    }
    .icon__description p{
        font-size: 1.4rem;
        line-height: 1.8;
        
    }
    .ourWork_wrapper {
        flex-direction: row;
        align-items: flex-start;
      }
      .ourWork_details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        width: 90%;
        
      }
      .ourWork_subtitle--text{
        font-size: 1.4rem;
        width: 95%;
        line-height: 1.6;
      }
    
      .item_title .item_title--text{
        font-size:1.6rem;
        
      }
}



/* ----------------900--------------------------- */
@media (min-width: 900px) {
    .container{
        width: 80%;
    }
    .services__description{
        padding-right: 38px;
    }
    .faq__description{
        display: flex;
        flex-direction: row;
    }
    .faq__title h2{
        font-size: 4.6rem;
    }
    .faq__description p{
        line-height: 2;
        width: 100%;
    }
    .faq__btn{
        width: 50%;
    }
    .options__icon{
        display: flex;
        flex-direction: row;
        padding: 50px 40px 25px;
        box-shadow: 0px 10px 30px rgba(55,43,125,.1);
        border-radius: 25px;
        justify-content: center;
    }
    .options{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .options__wrapper{
        width: 50%;
    }
    .icon__image{
        width: 24%;
        height:100%;

    }
    .icon__description h4{
        font-size: 2rem;

    }
    .icon__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon__description h4{
     padding-right: 10px;
       
    }
    .icon__description p{
        font-size: 1.4rem;
        line-height: 2;
    }
    .ourWork_badge {
      padding: 8px 20px;
      font-size: 1.4rem;
    }
    .ourWork_title--text {
        font-size: 4.6rem;
      }
      .ourWork_subtitle--text{
        font-size: 1.4rem;
        line-height: 1.6;
      }
    
      .item_title .item_title--text{
        font-size:1.5rem;
        width: 100%;
      }
      .ourWork_about--btn{
        font-size: 1.4rem;
      }
    
} 


/* -----------------------------------1000------------------------- */
@media (min-width:1000px) {
    .container{
        width: 90%;
    }
    .services__description{
        padding-right: 36px;
    }
    .description__title h1{
        font-size: 7rem;
        line-height:7rem;  
    }
    .faq__title h2{
        font-size: 5.4rem;
    }
    .faq__description p{
        line-height: 2;
        font-size: 1.6rem;

    }
    .faq__btn{
        max-width: 30%;
    }
    .icon__image{
        width: 20%;
        height:100%;

    }
    .icon__description{
        width: 68%;
        margin-left: 40px;
        
    }
    .icon__description h4{
        font-size: 2.4rem;
        padding: 0;
    }
    .icon__description p{
        font-size: 1.6rem;
        line-height: 1.8;
        
    }
    .ourWork_title--text {
        font-size: 5.4rem;
        width: 90%;
      }
      .ourWork_subtitle--text{
        font-size: 1.6rem;
        line-height: 1.6;
      }
      .item_title .item_title--text{
        font-size:1.8rem;
        width: 100%;
      }
      .ourWork_about--btn{
        font-size: 1.6rem;
      }

}

  
